*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

header{
    top: 0;
    left: 0;
    height: 62px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.logo{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: 117px;
}

.inner-header input{
    border: 3px solid #000;
    height: 40px;
    width: 350px;
    border-radius: 50px;
    padding: 0px 10px;
    margin-left: 300px;
}

.btn{
    margin-right: 250px;
    color: black;
}



.nav_log {
    list-style: none;
    display: flex;
    margin-right: 115px;
    
}

.nav_log li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #000;
    display: block;
}

.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}


.menu{
    background-color: #203864;
}

.menu nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}



.menu nav a i{
    color: #fff;
    font-size: 18px;
    margin-top: 14px;
    margin-left: 90px;
    
}

.menu_topic{
    list-style: none;
    display: flex;
    margin-right: 75px;
    padding: 0px;
    
}

.menu_topic li{
    position: relative;
}

.menu_topic li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
     
}

.menu_topic li ul.sub_menu{
    position:absolute;
    width: 200px;
    z-index: 999;
    left: 0;
    display: none;
    background-color: #203864;
        
}

.menu_topic li:hover ul.sub_menu{
    display: block;
    
}

.menu_topic li ul.sub_menu li{
    display:block;
}
.menu_topic li a:hover {
                    color: #fff;
                    background: #939393;
                    
}

/* content */
.content{
    margin-top: 85px;
    
 }

 .grid{
     width: 1100px;
     margin: 0 auto;
     position: relative;
     border-bottom: 1px solid #ccc ;
 }

.grid__row{
     width: 75%;
     display: flex;
 }

 .grid__row-column{
     width: 35%;
}

.place{
     width: 247px;
     font-size: 20px;
     position: absolute;
     top: 0;
     right: 312px;
     height: 315px;
     background-color: #f7f7f7;
 
 
 }
 .title--mdf{
     margin-left: 22px;
 }
 
 .banner{
     width: 50%;
     height: 315px;
 }
 .title{
     
     margin-top: 20px;
     margin-right: 28px;
 
 }
.title-heading{
     font-size: 16px;
     line-height: 16px;
     height: 48px;
     color: #222;
     font-weight: 550;
     padding: 20px 0;
     margin-bottom: 20px;
     text-decoration: none;
}
 
 .title-description{
     margin-top: 20px;
     font-size: 14px;
     color: #222;
 }
 .title-description-sourse{
     margin-top: 20px;
     font-size: 14px;
     color: #757575;
 }
 .title-description-image{
     float: right;
     width: 55px;
     height: 55px;
     border-radius: 50px ;
     margin-top: -40px;
 }
 .advertisment{
    position: absolute;
    top: 0px;
    right: -17px;
    width: 300px;
    height: 500px;
    
 }

 .grid1{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.grid__row1{
    width: 75%;
    display: flex;
    margin-top: -20px;
    border-bottom: 1px solid #ccc;
}
.advertisment2{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 0;
    right: -17px;
}

.muctin{
    width: 1100px;
    margin: 0 auto;
    position: relative;
    
}
.chude{
    margin-bottom: 20px;
}

.muctin_noidung{
    width: 65%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border-right: 2px solid #ccc ;
}
.tin_tieude{
    margin-bottom: 10px;
}

.tin_tieude a{
    text-decoration: none;
    color: #222;
    font-size: 18px;
    line-height: 16px;
}
.tin_tuc{
    position: relative;
}
.tin_anh{
    width: 250px;
}
.tin_noidung{
    position: absolute;
    font-size: 17px;
    top: 10px;
    left: 255px;
    font-weight: 550;
    color: #222;
    margin-left: 15px;
    margin-right: 15px;
}

.tin_tuc a{
    font-size: 16px;
     line-height: 16px;
     height: 48px;
     color: #222;
     text-decoration: none;
}

.tieudiem{
    width: 30%;
    background-color: #f4f6fa;
    position: absolute;
    top : 70px;
    right: 0px;
    border-radius: 5px;
    border-top: 10px solid #ccc ;
    border-bottom: 5px solid #ccc ;
}
.tieudiem>h2{
    text-align: center;
}
.tieudiem_anh{
    width: 300px;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
}
.tieudiem_tieude{
    margin-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
    
}

.tieudiem_tieude a{
    text-decoration: none;
    color: #222;
    line-height: 15px;
}
.tieudiem_noidung{
    font-size: 15px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    
}
.tieudiem >ul{
    margin: 10px 30px;
    font-style: bold;
}
.tieudiem>ul>li{
    margin-bottom: 10px;
}

.tieudiem>ul>li>a{
    text-decoration: none;
    color: #222;
    font-size: 17px;
    font-weight: 550;
}

.tinket{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}
.tinket1{
    border: 1px solid #ccc;
    padding: 10px;
    width: 520px;
}
.tinket1_nd{
    margin-top: 15px;
    padding-bottom: 5px;
    display: flex;
    border-bottom: 2px solid #ccc ;
    
}
.nd_img{
    width: 180px;
}
.nd_tieude{
    margin-left: 5px;
    text-decoration: none;
    color: #222;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 550;
}

.tinket2{
    width: 600px;
    border: 1px solid #ccc;
    margin-left: 40px;
    display: flex;
}
.tinket2_nd{
    width: 30%;
    margin: 10px 10px;
    
}
.nd_img2{
    width: 180px;
}
.nd_tieude2{
    text-align: center;
    text-decoration: none;
    color: #222;
    
}

.nd_tieude2 a{
    text-decoration: none;
}

.nd_vanban{
    margin-top: 15px;
    text-align: justify;
}

 /* Footer */
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #203864;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;    
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.footer_content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer_support{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.footer_support li{
    margin: 10px 0px;
}

.footer_bottom{
    background-color: #03112b;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer_bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    
}

.title1{
    margin-top: 20px;
    margin-right: 28px;
    padding-bottom: 15px;
}

.title-heading1 {
    font-size: 16px;
    line-height: 16px;
    height: 48px;
    color: #222;
    font-weight: 550;
    padding: 20px 0;
    margin-bottom: 20px;
    text-decoration: none;
}

